body {
  display: block;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.7s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left2 {
  animation: slideInLeft2 1.2s ease-out forwards;
}

@keyframes slideInLeft2 {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left3 {
  animation: slideInLeft3 1.7s ease-out forwards;
}

@keyframes slideInLeft3 {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left4 {
  animation: slideInLeft4 2.2s ease-out forwards;
}

@keyframes slideInLeft4 {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left5 {
  animation: slideInLeft5 2.7s ease-out forwards;
}

@keyframes slideInLeft5 {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left6 {
  animation: slideInLeft6 3.2s ease-out forwards;
}

@keyframes slideInLeft6 {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card-content {
  transition: filter 0.6s ease, opacity 0.6s ease;
}

.card-overlay {
  position: absolute;
  inset: 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
  color: white;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-content {
  filter: blur(4px);
  opacity: 0.6;
}

.card:hover .card-overlay {
  opacity: 1;
}

.background-skin-color {
  background-color: #f7ddbe;
}

.background-b37d7d-color{
  background-color: #b37d7d
}

.color-b37d7d {
  color: #b37d7d;
}

.color-skin {
  color: #f7ddbe;
}

.color-black {
  color: #000000;
}

.color-black:hover {
  color: #000000;
}

.background-color-black{
  background-color: #000000;
}

.background-light-blue-color-hover {
  cursor: pointer;
  transition: background-color 0.8s ease-out;
}

.background-light-blue-color-hover:hover {
  background-color: #7dd5eb;
}

.background-pinkish-color-hover {
  cursor: pointer;
  transition: background-color 0.8s ease-out;
}

.background-pinkish-color-hover:hover {
  background-color: #e4d3be;
}

.fade-in {
  animation: fadeIn 1.1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.expand {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition:
    max-height 1.8s ease-in-out,
    padding 0.6s ease-in-out;
}

.expand.show {
  max-height: 2000px;
  padding-top: 20px; 
  padding-bottom: 20px;
}